.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: var(--gradient);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .scroll-to-top:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  
  .scroll-to-top svg {
    width: 24px;
    height: 24px;
    fill: var(--color-primary);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --color-primary: #ff5722;
    --color-secondary: #200a01;
    --color-tercero: #292929;
    --color-azul: #1b80dc;
    --color-accent: #e74c3c;
    --color-background: #f5f5f5; /* Un gris muy claro para el fondo general */
    --color-text: #333; /* Un gris oscuro para el texto principal */
    --verde: #1DB954;
  }
  
  body {
    min-height: 100vh;

    background: linear-gradient(to right, #ff5722, #1b7fdc66, #4c74b88d);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
    opacity: 1;
    z-index: -1;
    color: var(--color-text);
  }
  
  header, footer {
    background-color: var(--color-tercero);
    color: white;
  }
  
  h1, h2, h3 {
    color: var(--color-secondary);
    text-align: center;
  }
  
  a {
    color:#200a01;
  }
  
  .button-primary {
    background-color: var(--color-primary);
    color: white;
  }
  
  .alert {
    background-color: var(--color-accent);
    color: white;
  }
  
  .section-dark {
    background-color: var(--color-secondary);
    color: white;
  }
  
  html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
  }
  
  header {
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(75deg, #1a1a1a, #292929, #1b80dc);
    color: #fff;
    padding: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 3px 4px rgba(0.2, 0, 0, 0.8);
  }

  .header-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y la navegación */
    justify-content: space-between; /* Espacia el logo y el menú */
    padding: 20px ; /* Espacio alrededor del header */
    max-width: 1200px;
    margin:  0 auto;
}

.logo img {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
}

  /* nav abajo */
  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  .abrir-menu,
  .nav,
  .nav-responsive {
    position: relative;
    z-index: 5;
  }
  
  .nav-list li a {
    font-family: poppins;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .nav-list li a:hover {
    color: rgb(255, 255, 255);
  }
  
  .abrir-menu,
  .cerrar-menu {
    display: none;
  }
  
  @media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
    }
  
    .abrir-menu {
      color: #ffffff;
    }
  
    .cerrar-menu {
      color: #0d0d0d;
    }
  
    .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
     
      align-items: center;
      gap: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0.2, 0, 0, 0.8);
    }
  
    .nav.visible {
      opacity: 1;
      visibility: visible;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: end;
    }
  
    .nav-list li a {
      color: #ecececec;
    }
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  /* modal- redes sociales derecha */
  .modal-social-links {
    display: block;
    position: fixed;
    top: calc(50% - 120px);
    right: 0;
    padding: 6px;
    background-color: rgba(179, 178, 178, 0.27);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
  }
  
.modal-social-links .footer-section-socialmedia-entry a,
.modal-social-links .footer-section-socialmedia-entry i {
  width: 38px !important;
  height: 38px !important;
}

.modal-social-links li {
  display: block;
}

.modal-social-links #sp.footer-section-socialmedia-entry i {
  /* color: #7BD93F; */
  width: 51px;
  height: 51px;
  border-radius: 26px;
  overflow: hidden;
  font-size: 20px;
  line-height: 37px;
}

.modal-social-links #tw.footer-section-socialmedia-entry i {
  font-size: 20px;
}

.modal-social-links #yt.footer-section-socialmedia-entry i {
  font-size: 20px;
}

.modal-social-links .footer-section-socialmedia-entry {
  margin: 5px 5px 13px 5px;
}

.modal-social-links .footer-section-socialmedia-entry i::before {
  line-height: 39px;
}

@media (max-width: 860px) {
  .modal-social-links {
    padding: 3px;
  }
  .modal-social-links .footer-section-socialmedia-entry a,
  .modal-social-links .footer-section-socialmedia-entry i {
    width: 32px !important;
    height: 32px !important;
  }
  .modal-social-links #sp.footer-section-socialmedia-entry i {
    line-height: 31px;
    font-size: 37px;
  }
  .modal-social-links #yt.footer-section-socialmedia-entry i {
    font-size: 17px;
  }
  .modal-social-links .footer-section-socialmedia-entry i::before {
    line-height: 33px;
  }
  .modal-social-links #sp.footer-section-socialmedia-entry i::before {
    line-height: 6px;
  }
}

@media (max-width: 567px) {
  .modal-social-links {
    display: none;
  }
}

/* imagen infografía cabecera abj */
.nuevo{
    max-width: 100%; /* La imagen no superará el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  #particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(75deg, #1a1a1a, #292929, #1b80dc);
    color: #ffffff;
}

  footer a{
    color: white;
    transition: color 0.3s ease;
  }
  footer a:hover {
    color: #007bff; /* Color de hover opcional */
}
  @media (max-width: 768px) {
    h1,
    .hero h1 {
      font-size: 2rem;
    }
  
    .container {
      padding: 0;
    }
  
    section {
      padding: 1rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
  /* navegacion footer */

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
   
}

.navegacion ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px; /* Espacio entre elementos */
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

.navegacion ul li a:hover {
    color: var(--color-azul);
}

.column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%; /* Ajusta según necesites */
}

.contacto {
    text-align: right;
}

.contacto p {
    color: #ffffff;
    margin: 0 0 5px 0;
}

.contacto h5 {
    margin: 0;
    font-size: 1.1em;
}

.contacto h5 a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contacto h5 a:hover {
    color: #0056b3;
}

/* Responsive */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .navegacion ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .column-right {
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    .contacto {
        text-align: right;
    }
}
 
  
  

















/* /////////////////// */
